
:root.theme-dark {
   --bg-img: url(../images/cover-image-dark.png);
  --section-bg-color: transparent;
  --accent-color: #FF0070;
  --nav-heading-color: #FF0070;
  --decorated-elements-color: #FF0070;
  --main-heading-color: #DB00FF;
  --subtitle-color: #000028;
  --text-color: #F1B2CE;
  --section-shadow: none;
}

.theme-dark .decorated-element {
  display: block;
}

.theme-dark .decorated-element::before {
  display: block;
 }
